/* Basic styles start============================================================================================================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

html {
    font-size: 16px;
}

:root {
    --primary-color: #fff;
    --secondary-color: #343434;
    --accent-color: #EC400A;
    --secondary-dark-color: #313131;
}

/* Basic styles end============================================================================================================================================================= */

/* Fonts start============================================================================================================================================================= */
@font-face {
    font-family: Bebas-regular;
    src: url(../fonts/bebas/BebasNeue\ Regular.otf)
}

@font-face {
    font-family: Bebas-bold;
    src: url(../fonts/bebas/BebasNeue\ Bold.otf)
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/roboto/Roboto-Medium.ttf)
}

@font-face {
    font-family: Roboto-bold;
    src: url(../fonts/roboto/Roboto-Bold.ttf)
}

/* Fonts end============================================================================================================================================================= */



/* Header start =====================================================================================================================================================================*/
.header-wrap {
    width: 100%;
    background: url(../img/bg/bg-1.png) center/cover;
    font-family: Bebas-regular;
}

.header {
    width: 100%;
    height: 90px;
    background: var(--secondary-dark-color);
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.15); */
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    transition: 0.3s;
}

.header-bg {
    /* background: var(--secondary-dark-color); */
    background: transparent;
}

.header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.15);
    bottom: 0px;
    transition: 0.3s;
}

.header-bg:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.15);
    bottom: 0px;
}

.header-no-border:before {
    width: 0;
}


.header-bg {
    background: transparent;
}

.header-left,
.header-right {
    height: calc(100% - 2px);
}

.header>div>div {
    min-height: 81.1%;
    transition: 0.3s;
}

.header-bg>div>div {
    /* min-height: 81.1%; */
    min-height: 100%;
}

/* .header-border-change {
    border-bottom: 2px solid var(--secondary-dark-color);
    transition: 0.3s;
} */

.header-left>div {
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.header-right>div {
    border-left: 2px solid rgba(255, 255, 255, 0.15);
}

.header-logo {
    padding: 0 64px 0 40px;
}

.header-social {
    padding: 0 43px 0 40px;
}

.header-social-icons {
    margin: 0 15px;
}

.header-teamViewer {
    padding: 0 36px 0 36px;
}

.teamviewer-icon {
    width: 40px;
    height: 40px;
}

.ul-hide {
    position: absolute;
    right: 0;
}

.header-language {
    padding: 0 32px 0 48px;
}

.language-select {
    height: 20px;
    background: none;
    border: none;
    color: var(--primary-color);
    outline: none;
    font-family: Bebas-regular;
    font-size: 1rem;
    position: relative;
}

.language-select li {
    color: var(--primary-color);
    margin-right: 15px;
    margin-bottom: 5px;
    /* padding: 5px 10px; */
    /* background: var(--secondary-dark-color); */
}

.language-hide {
    display: none;
}

.select-arrow {
    min-height: 6px;
    transition: 0.2s;
    cursor: pointer;
}

.select-arrow-rotate {
    transform: rotate(180deg);
}

.header-contact {
    padding: 0 43px;
}

.header-contact a img {
    height: 18px;
}

.header-phone {
    color: var(--primary-color);
    padding: 0 32px 0 22px;
    font-size: 1.125rem;
    font-family: Bebas-regular;
}

.header-burger {
    padding: 0 38px 0 43px;
}

.burger-menu {
    width: 31px;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.menu-line {
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    margin-bottom: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}

.line-accent {
    background: var(--accent-color);
}

.line-accent-default {
    background: var(--primary-color);
}

.nav-accent-bg {
    background: var(--secondary-dark-color);
}

/* Header end =========================================================================================================================================================================== */

/* Hidden nav-menu start ==================================================================================================================================================================== */
.hidden-menu {
    width: 100%;
    height: 100%;
    background: url(../img/bg/menu-bg-1.png) bottom/cover;
    position: fixed;
    top: 90px;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.3s linear;
}

.menu-active {
    transform: translateX(0%);
}

.hidden-ul {
    flex-direction: column;
    list-style-type: none;
    margin-top: 120px;
}

.hidden-li {
    text-align: right;
    font-family: Bebas-regular;
    opacity: 0;
}

.hidden-menu-small-items {
    margin: 8px 0 24px auto;
    grid-template-columns: repeat(2, max-content);
    gap: 40px;
}

.hidden-li-small {
    text-align: right;
    opacity: 0;
}

.hidden-li-small a:hover {
    color: var(--accent-color);
}

.hidden-li-small a {
    color: var(--primary-color);
    font-family: Bebas-regular;
    font-size: 1.125rem;
    transition: 0.3s;
}

.hidden-li:not(:last-child) {
    margin-bottom: 17px;
}

.hidden-a {
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 2px 0 0 var(--secondary-dark-color), -2px 0 0 var(--secondary-dark-color), 0 2px 0 var(--secondary-dark-color), 0 -2px 0 var(--secondary-dark-color), 1px 1px var(--secondary-dark-color), -1px -1px 0 var(--secondary-dark-color), 1px -1px 0 var(--secondary-dark-color), -1px 1px 0 var(--secondary-dark-color);
    font-size: 45px;
    position: relative;
    display: inline-block;
}

.hidden-a::before {
    content: attr(data-content);
    width: 0;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: -400px;
    margin: auto;
    background: var(--accent-color);
    color: var(--accent-color);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    transition: width 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}

.hidden-a::after {
    width: 0;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--accent-color);
    overflow: hidden;
    transition: width 0.3s ease;
    white-space: nowrap;
}

.hidden-a:hover::after {
    width: 100%;
}

.hidden-a:hover::before {
    width: 390px;
}

.toggle .line-accent {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(200px);
    }

    to {
        opacity: 1;
        transform: translate(0px)
    }
}

/* Hidden nav-menu end ====================================================================================================================================================================== */

/* Popup start =========================================================================================================================================================================== */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    width: 650px;
    padding: 40px 100px;
    background: #fff;
    background-image: url(../img/bg/popup-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-repeat: repeat-y;
    position: relative;
}

.popup-content:before {
    content: '';
    height: calc(100% - 50px);
    position: absolute;
    bottom: -35px;
    left: -35px;
    right: -35px;
    border: 2px solid var(--accent-color);
    z-index: -1;
}

#contact-headline {
    margin: 11px auto;
}

.inputs-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 17px;
}

.contact-input-personal-info,
.popup-select,
.popup-textarea {
    width: 100%;
    height: 38px;
    border: 0;
    outline: none;
    color: #A5A5A5;
    border-bottom: 2px solid #A5A5A5;
    padding-left: 5px;
    font-size: 1rem;
    font-family: Roboto-light;
}

.contact-input-personal-info::placeholder,
.popup-textarea::placeholder {
    color: #A5A5A5;
}

.validation-warning {
    color: red;
    font-family: Roboto-regular;
    padding-left: 5px;
}

.popup-select {
    padding-left: 0;
    margin-bottom: 20px;
}

.popup-textarea {
    resize: none;
    padding-top: 9px;
}

#send-btn {
    margin: 25px auto 0;
}

/* Popup end ============================================================================================================================================================================= */

/* Breadcrumbs start ========================================================================================================================================================================= */
.breadcrumbs {
    margin: 130px 0 29px;
}

.breadcrumbs a {
    font-family: Roboto-regular;
    font-size: 0.875rem;
    color: #000;
}

.breadcrumbs-back {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: var(--accent-color);
    font-family: Roboto-regular;
    font-size: 0.875rem;
}

.breadcrumbs-divider {
    margin: 0 5px;
}

/* Breadcrumbs end =========================================================================================================================================================================== */

/* Slider 'Team' start ================================================================================================================================================================== */
.team-img {
    width: 100%;
    /* max-width: 205px; */
    margin: 0 auto 24px;
}

.team-slider p {
    text-align: center;
    color: var(--primary-color);
    font-size: 1rem;
}

.team-name {
    margin-bottom: 12px;
    font-family: Roboto-bold;
}

.team-position {
    font-family: Roboto-regular;
}

/* Slider 'Team' end ========================================================================================================================================================================= */

/* Slider 'Clients' start ================================================================================================================================================================== */
.clients-slider-items {
    border-bottom: 2px solid var(--accent-color);
    /* border-bottom: 2px solid #686868; */
    /* width: 177px; */
    transition: all 0.2s;
}

.clients-slider-img {
    margin: 0 auto 20px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.clients-slider-img-grad-1 {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray;
}

.clients-slider-img-grad-2 {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

/* Slider 'Clients' end ====================================================================================================================================================================== */

/* Stats start ================================================================================================================================================================== */
#stats {
    padding: 100px 0 0px;
    background: url(../img/bg/bg-3.png) center/cover;
}

.stats-wrap {
    grid-template-columns: repeat(4, auto);
    /* gap: 50px; */
}

.stats-item {
    position: relative;
    padding-bottom: 100px;
}

/* .stats-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    bottom: -105px;
    z-index: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(118, 36, 10, 1) 0%, rgba(219, 198, 191, 0) 74%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(118, 36, 10, 1) 0%, rgba(219, 198, 191, 0) 74%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(118, 36, 10, 1) 0%, rgba(219, 198, 191, 0) 74%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76240a', endColorstr='#00ffffff', GradientType=1);
} */

.stats-number {
    font-size: 76px;
    color: #747474;
    font-family: Bebas-bold;
    margin-right: 7px;
    line-height: 69px;
}

.stats-description {
    font-size: 24px;
    color: var(--primary-color);
    font-family: Bebas-regular;
    margin-bottom: 10px;
}

.stats-number-mWidth {
    min-width: 121px;
}

.stats-info-container {
    padding: 40px 0;
}


/* Stats end ===================================================================================================================================================================== */

/* Slider 'Reviews' start ================================================================================================================================================================== */
.review-slide {
    position: relative;
    /* width: 258px; */
    height: 375px;
}

.reviews-img {
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 14.9px 1.1px rgba(0, 0, 0, 0.1);
    bottom: 21px;
    right: 21px;
    left: 21px;
    width: calc(100% - 170px);
}

/* .slide-border {
    width: 100%;
    height: 280px;
    border: 2px solid var(--accent-color);
    bottom: 0;
    margin: auto 0 0 0;
} */

.review-slide:before {
    content: '';
    /* width: 100%; */
    width: calc(100% - 132px);
    position: absolute;
    height: 282px;
    border: 2px solid var(--accent-color);
    z-index: -1;
    bottom: 0;
    /* bottom: 0px;
    left: 38px;
    right: 38px; */
}

/* Slider 'Reviews' end ===================================================================================================================================================================== */

/* Footer start ================================================================================================================================================================== */
iframe {
    min-height: 491px;
    display: block;
}

.contacts-info-wrap {
    position: relative;
    z-index: 1;
}

.contacts-info {
    position: absolute;
    left: 21px;
    top: 154px;
    background-color: var(--primary-color);
    background: url(../img/bg/bg-6.png) center/cover;
    padding: 43px 33px;
    font-family: Bebas-bold;
    font-size: 1rem;
    box-shadow: 0 0 16.2px 1.8px rgba(0, 0, 0, 0.15);
}

.contacts-info li {
    align-items: baseline;
}

.contacts-info li:not(:last-of-type) {
    margin-bottom: 5px;
}

.contacts-info-icons {
    margin-right: 7px;
}

.contacts-info::after {
    content: '';
    border: 1px solid var(--accent-color);
    position: absolute;
    height: 170px;
    bottom: -21px;
    left: -21px;
    right: -21px;
    z-index: -1;
}

#footer {
    padding: 24px 0;
    background: #2e2e2e;
}

.footer-text {
    color: var(--primary-color);
    text-align: center;
    font-family: Roboto-regular;
}

.footer-text span {
    text-transform: uppercase;
}

/* Footer end ===================================================================================================================================================================== */

/* Utility classes start ===================================================================================================================================================================== */
.container {
    width: 70rem;
    margin: 0 auto;
    /* max-width: calc(100% - 30px); */
}

.flex-container {
    display: flex;
}

.flex-container-center {
    display: flex;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.grid-container {
    display: grid;
}

.btn {
    background: var(--accent-color);
    padding: 16px 55px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.125rem;
    width: fit-content;
    outline: none;
    border: none;
    font-family: Bebas-regular;
    cursor: pointer;
}

.lines-img {
    margin: 0 auto;
}

.section-headline {
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
    margin: 20px auto 40px;
    font-size: 45px;
    font-family: Bebas-bold;
}

.section-description {
    font-family: Roboto-light;
    font-size: 1rem;
    text-align: center;
}

.slider-wrap {
    position: relative;
}

.slider-controls {
    position: absolute;
    width: 100%;
    height: 28px;
    z-index: 10;
    left: 0;
    right: 0;
    top: calc(50% - 28px);
    transform: translateY(calc(-50% + 28px));
    outline: none;
}

.slider-arrows {
    position: absolute;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.3s;
    z-index: 1;
}

.slider-arrow-right {
    right: -50px;
}

.slider-arrow-left {
    left: -50px;
}

.slider-arrows:hover {
    fill: var(--accent-color);
    transition: 0.3s;
}

.headline-wrap {
    margin: 51px 0 0;
}

.headline-line {
    width: 100%;
    background: var(--accent-color);
    height: 1px;
}

.headline-name {
    font-family: Bebas-bold;
    font-size: 24px;
    text-align: center;
    color: var(--secondary-color);
}

.gm-style .place-card-large {
    display: none !important;
}

.slider-tabs-container {
    display: none;
    width: 100%;
    background: #181715;
    position: relative;
}

.slider-tabs-text {
    font-family: Roboto-light;
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 30px;
}

.slider-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 24px solid#181715;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

/* Utility classes end ===================================================================================================================================================================== */



/* ================================================================== INDEX PAGE START============================================================================================== */

/* Main section ================================================================================================================================================= */
#main {
    width: 100%;
    background: url(../img/bg/bg-1.png) center/cover;
    font-family: Bebas-regular;
    padding-top: 233px;
}

.main-headline {
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 72px;
}

.main-description {
    font-size: 30px;
    color: var(--primary-color);
    max-width: 670px;
    margin: 38px 0 70px;
}

#info-btn {
    background: none;
    border: 2px solid var(--accent-color);
    color: var(--primary-color);
    padding: 16px 58px;
    position: relative;
    transition: 0.5s;
    margin-left: 1px;
}

#info-btn::after {
    content: "";
    height: 2px;
    width: 47px;
    position: absolute;
    background: var(--accent-color);
    right: -23.5px;
    transition: 0.3s;
}

#info-btn:hover {
    background: var(--accent-color);
}

#info-btn:hover::after {
    transform: rotate(90deg);
    right: -24.6px;
    opacity: 0;
}

.divider-line {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 76px;
}

.navigation-menu {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 0 8px 0;
}

.navigation-menu-wrap {
    width: 100%;
    padding-top: 40px;
}

.navigation-menu-item {
    padding-bottom: 55px;
    flex-direction: column;
    position: relative;
    transition: 0.5s;
    position: relative;
}

.navigation-menu-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(../img/bg/underline-glow-1.png) bottom/cover;
    opacity: 0;
    transition: 0.5s;
}

.nav-menu-square {
    width: 34px;
    height: 34px;
    position: absolute;
    border-left: 1px solid #91706c;
    border-bottom: 1px solid #91706c;
    left: 0;
    bottom: 28px;
    transition: 0.3s;
}

.navigation-menu-item:hover .nav-menu-square {
    width: 100%;
    height: 0;
    bottom: 0;
    border-left: 1px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.navigation-menu-item:hover::after {
    opacity: 1;
}

.navigation-menu-icon {
    margin: 0 auto 24px;
}

.navigation-menu-text {
    color: var(--primary-color);
    font-size: 1rem;
}


/* Team section =================================================================================================================*/
#team {
    padding: 100px 0 0;
    background: url(../img/bg/bg-2.png) center/cover;
}

#team-headline {
    color: var(--primary-color);
}

.team-member {
    position: relative;
    padding-bottom: 58px;

    /* background: url(../img/team/glow1.png); */
    /* background-position: bottom;
    background-repeat: no-repeat; */
    /* box-shadow: 0 30px 50px -2px orange; */
    /* -webkit-box-shadow: inset -5px -16px 50px 5px #EC400A;
    box-shadow: inset 0px 0px 50px -50px #EC400A; */
}

.team-member:before {
    content: '';
    /* width: 100%; */
    height: 100%;
    bottom: -335px;
    padding: 30px 0px;
    position: absolute;
    /* background: -moz-radial-gradient(center, ellipse cover, rgba(236, 64, 10, 1) 0%, rgba(248, 181, 160, 0) 60%, rgba(255, 255, 255, 0) 98%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(236, 64, 10, 1) 0%, rgba(248, 181, 160, 0) 60%, rgba(255, 255, 255, 0) 98%);
    background: radial-gradient(ellipse at center, rgba(236, 64, 10, 1) 0%, rgba(248, 181, 160, 0) 60%, rgba(255, 255, 255, 0) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec400a', endColorstr='#00ffffff', GradientType=1); */


    background: -moz-radial-gradient(center, ellipse cover, rgba(236, 64, 10, 1) 0%, rgba(250, 205, 191, 0) 74%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(236, 64, 10, 1) 0%, rgba(250, 205, 191, 0) 74%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(236, 64, 10, 1) 0%, rgba(250, 205, 191, 0) 74%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec400a', endColorstr='#00ffffff', GradientType=1);





}

.team-info-container {
    padding: 60px 0;
}

.team-info-wrap {
    grid-template-columns: auto auto;
    gap: 70px;
    position: relative;
}

.team-info-text {
    max-width: 780px;
}

.team-info-certificates {
    justify-content: space-between;
}

.team-info-certificates img:not(:first-of-type) {
    margin-left: 50px;
}



/* Advantages section =========================================================================================================== */
#advantages {
    padding: 100px 0 110px;
    background: url(../img/bg/bg-5.png) top/cover;
}

#advantages-headline {
    margin: 20px auto 34px;
}

.advantages {
    grid-template-columns: repeat(12, 1fr);
    margin: 45px 0 0;
}

.advantages div:nth-child(1) {
    grid-column: 1/4;
}

.advantages div:nth-child(2) {
    grid-column: 4/7;
}

.advantages div:nth-child(3) {
    grid-column: 7/10;
}

.advantages div:nth-child(4) {
    grid-column: 10/13;
}

.advantages div:nth-child(5) {
    grid-column: 2/5;
}

.advantages div:nth-child(6) {
    grid-column: 5/9;

}

.advantages div:nth-child(7) {
    grid-column: 9/12;
}

.advantages-img {
    width: 100%;
    max-width: 170px;
    margin: 0 auto 24px;
}

.advantages-img-bottom {
    margin-top: 100px;
}

.advantages-description {
    font-size: 1.125rem;
    color: var(--secondary-color);
    font-family: Bebas-bold;
    text-align: center;
}

/* Clients section =========================================================================================================== */
#clients {
    padding: 0 0 100px;
}

/* Reviews section =================================================================================================*/
#reviews {
    padding: 100px 0 146px;
}

/* ================================================================== INDEX PAGE END============================================================================================== */


/* ================================================================== RESHENIA PAGE START============================================================================================== */
.reshenia-items-wrap {
    /* grid-template-columns: repeat(12, 1fr);
    gap: 23px; */
    margin-bottom: 80px;
    overflow: hidden;
}

.reshenia-items-left {
    width: 41.6%;
    float: left;
    margin: 0 25px 0px 0;
}

.reshenia-items-right {
    float: right;
    margin: 0 0 0px 25px;
    width: 41.6%;
    height: 100%;
}

.reshenia-img {
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 25px;
}

.reshenia-gap {
    margin-left: 23px;
}

.reshenia-headline {
    font-family: Roboto-bold;
    margin-bottom: 5px;
    font-size: 1.875rem;
}

.reshenia-headline-tablet {
    display: none;
}

.reshenia-description,
.reshenia-list,
.reshenia-list-items {
    font-family: Roboto-light;
    font-size: 1rem;
}

.reshenia-thought {
    margin: 25px 0 0;
}

.reshenia-description,
.reshenia-headline,
.reshenia-list,
.reshenia-list-items {
    color: var(--secondary-color);
}

.reshenia-list-headline {
    font-family: Roboto-medium;
    margin: 26px 0 7px;
}

.reshenia-list-items {
    background: url(../img/icons/square-accent.png) no-repeat left center;
    padding-left: 25px;
}

.reshenia-list-items:not(:last-child) {
    margin-bottom: 7px;
}

#reshenia-last-type {
    margin-bottom: 100px;
}

#reviews-reshenia {
    background: url(../img/bg/bg-2.png) center/cover;
    padding: 100px 0 115px;
    margin-bottom: 90px;
}

#reshenia-advantages-headline {
    color: var(--primary-color);
}

#reviews-headline {
    color: var(--primary-color);
}

/* ================================================================== RESHENIA PAGE END============================================================================================== */


/* ================================================================== SERVICES PAGE START============================================================================================== */
#nav-services {
    background: var(--services-primary-color);
    border-bottom: none;
    height: 90px;
}

#nav-services>div>div {
    min-height: 81.1%;
}

#nav-left-services>div {
    border-right: 2px solid var(--borders);
}

#nav-right-services>div {
    border-left: 2px solid var(--borders);
}

/* Services section ====================================================================================================== */
#services {
    /* margin-top: 130px; */
    padding-bottom: 110px;
}

.headline-name {
    min-width: max-content;
    margin: 0 30px;
}

.services-wrap {
    margin: 59px 0 0;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 1.9fr 1fr;
    gap: 60px;
}

.services-wrap-photo {
    /* grid-column: 1/8; */
    padding-top: 45px;
}

.services-blocks {
    /* grid-column: 8/13; */
}

.services-wrap-photo img {
    width: 100%;
}

.services-info {
    padding: 17px 30px;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 100px;
    cursor: pointer;
    position: relative;
}

.services-info:not(:last-child) {
    margin-bottom: 20px;
}

.services-info-arrow {
    display: none;
}

.services-blocks h3 {
    font-family: Roboto-regular;
    font-size: 1rem;
}

.services-blocks li {
    font-family: Roboto-light;
    font-size: 1rem;
}

.service-block-list {
    margin-top: 10px;
    flex-wrap: wrap;
}

.service-block-list li {
    background: url(../img/icons/square.png) no-repeat left center;
    padding-left: 10px;
}

.service-block-list li:nth-child(1),
.service-block-list li:nth-child(2) {
    margin-bottom: 5px;
}

.service-block-li-mg {
    margin-right: 60px;
}

#laptops {
    min-width: 6.712rem;
}

.list2-margin {
    margin-right: 25px;
}

#list-1 li,
#list-2 li,
#list-3 li,
#list-4 li {
    background: url(../img/icons/square-accent.png) no-repeat left center;
}

#list-2 li:nth-child(1),
#list-2 li:nth-child(2),
#list-2 li:nth-child(3) {
    margin-bottom: 5px;
}

/* #list-2 li:nth-child(1),
#list-2 li:nth-child(4) {
    margin-right: 40px;
}

#list-2 li:nth-child(2) {
    margin-right: 50px;
} */

#wifi {
    min-width: 3.34rem;
}

#list-3 li {
    margin-bottom: 0;
}

#list-3 li:nth-child(1) {
    margin-right: 25px;
}

#list-4 li:nth-child(2) {
    margin-bottom: 0;
}

/* #bitrix {
    background: url(../img/icons/square-accent.png) no-repeat left top !important;
} */

.info-active {
    background: #eb400a;
    color: #fff;
    border: 1px solid var(--accent-color);
}

.info-active div>div>ul>li {
    background: url(../img/icons/square.png) no-repeat left center !important;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #eb400a;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.triangle-active {
    display: block;
}

/* Tools section ========================================================================================== */
.tools-wrap {
    margin: 0;
}

.tools-slider-wrap {
    margin: 50px 0 42px;
    padding: 50px;
    box-shadow: 4px 3px 24.6px 2.4px rgba(0, 0, 0, 0.07);
    background: var(--primary-color);
    position: relative;
}

.tools-nav-container {
    position: absolute;
    bottom: 35px;
    left: 375px;
}

.nav-item {
    width: 22px;
    height: 7px;
    margin-right: 13px;
    border-radius: 3.5px;
    background: #adadad;
    cursor: pointer;
}

/* .nav-item-inner {
    width: 100%;
    height: 7px;
    background: #adadad;
    border-radius: 3.5px;
} */

/* .nav-item-inner.tns-nav-active {
    background: var(--accent-color);
} */

.nav-item.tns-nav-active {
    background: var(--accent-color);
}

.tools-slider-inner {
    grid-template-columns: auto auto;
    gap: 60px;
}

.tools-slider h3 {
    font-family: Roboto-medium;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 400;
}

.tools-slider-text {
    font-family: Roboto-light;
    font-size: 1rem;
    line-height: 26px;
    color: var(--secondary-color);
}

.tools-slider-img {
    /* margin: 0 40px 0 auto; */
}

.communicating-wrap {
    position: relative;
}

.communicating-square {
    position: absolute;
    width: 87px;
    height: 87px;
    background: var(--accent-color);
    z-index: 1;
}

#square-right {
    right: -11px;
    top: -11px;
}

#square-left {
    left: -11px;
    bottom: -11px;
}

.communicating {
    padding: 45px;
    background: url(../img/bg/steps-bg.png);
    background-position: right 50px center;
    /* background-position: right 50px; */
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    position: relative;
    z-index: 2;
}

.communicating h3,
.communicating li {
    font-family: Roboto-regular;
    font-size: 1rem;
}

.communicating h3 {
    color: var(--accent-color);
    margin-bottom: 15px;
}

.communicating li:not(:last-child) {
    margin-bottom: 13px;
}

.communicating li {
    background: url(../img/icons/square-accent.png) no-repeat left center;
    padding-left: 18px;
}

.communicating-right {
    width: fit-content;
    margin: 75px 0 0 auto;
}

.communicating-right li,
.communicating-right h3 {
    text-align: right;
}

.communicating-right li {
    background: url(../img/icons/square-accent.png) no-repeat right center;
    padding-right: 18px;
}

/* Rent section ===================================================================================================== */
#rent {
    margin-top: 100px;
    padding: 100px 0 0px;
    background: url(../img/bg/rent-bg.png) center/cover;
}

.rent-wrap {
    grid-template-columns: 1fr 1fr;
    margin: 75px 0 100px;
}

.rent-item-top {
    min-height: 205px;
    max-width: 576px;
    margin: 0 auto;
    /* padding: 65px; */
    background: url(../img/rent/square-top.png) center/100% 100%;
    font-family: Roboto-regular;
}

.rent-item-top p {
    max-width: 381px;
    margin-left: 50px;
}

.rent-item-bottom {
    min-height: 205px;
    max-width: 576px;
    margin: 0 auto;
    /* padding: 36px; */
    background: url(../img/rent/square-bottom.png) center/100% 100%;
    font-family: Roboto-light;
    grid-template-columns: max-content auto;
    gap: 25px;
}

.servers {
    margin-left: 20px;
}

.servers-small {
    display: none;
}

.rent-list-right {
    margin-right: 20px;
    min-height: 83px;
}

.rent-item-bottom li {
    font-size: 14px;
}

.rent-item-bottom li:not(:last-child) {
    margin-bottom: 13px;
}

.server {
    background: url(../img/rent/square-bottom/server.png) no-repeat left center;
    padding-left: 23px;
}

.processor {
    background: url(../img/rent/square-bottom/processor.png) no-repeat left center;
    padding-left: 23px;
}

.drive {
    background: url(../img/rent/square-bottom/drive.png) no-repeat left center;
    padding-left: 23px;
}

.pcb {
    background: url(../img/rent/square-bottom/pcb.png) no-repeat left center;
    padding-left: 23px;
}

.network {
    background: url(../img/rent/square-bottom/network.png) no-repeat left center;
    padding-left: 23px;
}

.decisions {
    padding: 100px 0 90px;
    background-color: rgba(255, 255, 255, 0.61);
}

.decisions-wrap {
    margin-top: 33px;
    grid-template-columns: max-content auto;
    gap: 20px;
}

.decisions-wrap div:not(:last-child) {
    margin-bottom: 25px;
}

.decisions-wrap p {
    font-family: Roboto-light;
    font-size: 1rem;
    color: var(--secondary-color);
}

.decisions-wrap span {
    font-family: Roboto-bold;
}


/* Сloud section =================================================================================================================== */
#cloud {
    padding: 100px 0 120px;
}

.cloud-slider {
    margin-top: 30px;
}

.cloud-slider img {
    box-shadow: 4px 3px 24.6px 2.4px rgba(0, 0, 0, 0.07);
    /* margin-bottom: 30px; */
    margin: 0 auto 30px;
    width: 100%;
}

.cloud-slider p {
    max-width: 340px;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    color: var(--secondary-color);
    font-family: Roboto-light;
}

/* Consulting section =================================================================================================================== */
#consulting {
    padding: 100px 0;
    background: #f8f8f8;
}

.consulting-type {
    padding: 65px;
    background: var(--primary-color);
    margin-top: 10px;
    position: relative;
    box-shadow: 4px 3px 24.6px 2.4px rgba(0, 0, 0, 0.07);
}

#consulting-second {
    margin-top: 40px;
}

.consulting-type:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    ;
    right: 35px;
    top: 35px;
}

.consulting-type-inner {
    grid-template-columns: 1fr 1fr;
    gap: 110px;
}

.consulting-type-headline {
    font-size: 24px;
    font-family: Bebas-bold;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.consulting-type-inner li {
    background: url(../img/icons/square-accent.png) no-repeat left center;
    padding-left: 14px;
    font-family: Roboto-light;
    font-size: 1rem;
}

.consulting-type-inner li:not(:last-child) {
    margin-bottom: 18px;
}



/* Steps section ================================================================================================================================= */
#steps-section {
    padding: 65px 0 100px;
    background: url(../img/bg/steps-section-bg.png) center/cover;
    margin-bottom: 90px;
}

.lines-steps-section {
    margin: 0 auto 20px;
}

.steps-section-headline {
    text-align: center;
    color: var(--primary-color);
    font-size: 24px;
    font-family: Bebas-bold;
}

.steps-section-inner {
    margin-top: 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

.steps-inner-item {
    position: relative;
}

.steps-inner-item:before {
    content: '01';
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-bold;
    font-size: 0.875rem;
    color: var(--primary-color);
}

.steps-section-inner img {
    margin: 0 auto 20px;
    width: 78%;
}

.steps-inner-description {
    font-family: Roboto-light;
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
}

/* ================================================================== SERVICES PAGE END============================================================================================== */




/* ================================================================== KTO MI PAGE START============================================================================================== */
#about {
    padding: 0 0 100px;
}

.us {
    width: 85%;
    margin: 35px auto 0;
}

.about-underline {
    width: 100%;
    height: 13px;
    background: #f0f0f0;
    margin-bottom: 30px;
}

.about-description {
    font-family: Roboto-light;
    font-size: 1rem;
    color: var(--secondary-color);
}

.mg-top {
    margin-top: 40px;
}

.type-margin-top {
    margin-top: 75px;
}

.about-types {
    grid-template-columns: auto auto;
    gap: 40px;
    margin-bottom: 11px;
}

.img-bg {
    position: relative;
}

.img-bg::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--accent-color);
    top: 11px;
    left: 11px;
    z-index: -1;
}

.about-headline {
    color: var(--secondary-color);
    font-size: 34px;
    font-family: Bebas-bold;
}

.about-underline-accent {
    width: 70px;
    height: 5px;
    background: var(--accent-color);
    margin: 25px 0;
}

.about-text {
    font-size: 1rem;
    font-family: Roboto-light;
    color: var(--secondary-color);
}

.about-clients {
    padding: 100px 0 !important;
}

/* ================================================================== KTO MI PAGE END============================================================================================== */



/* ================================================================== CONTACTS PAGE START============================================================================================== */
#contacts {
    /* margin: 0px 0 100px; */
}

#contacts-headline {
    margin-bottom: 50px;
}

#contacts-info-page {
    position: relative;
    width: fit-content;
    left: auto;
    top: 0;
    margin: 75px 0 0 21px;
    padding: 50px 63px 44px 37px;
}

#contacts-info-page::after {
    position: absolute;
    width: 66.7%;
    height: auto;
    bottom: -21px;
    left: -21px;
    top: -21px;
    z-index: -1;
}

.contacts-wrap {
    grid-template-columns: 1fr 2fr;
}

.call-us-pane {
    width: 100%;
    padding: 45px 93px 50px;
    box-shadow: 4px 3px 24.6px 2.4px rgba(0, 0, 0, 0.07);
    background-image: url(../img/bg/bg-contacts-form.png);
    background-position: right 28px center;
    /* background-size: cover; */
    background-repeat: no-repeat
}

.call-us-pane a {
    margin: 0 auto;
}

.call-us-headline {
    font-family: Bebas-bold;
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.call-us-inputs-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.call-us-input,
.call-us-textarea {
    width: 100%;
    height: 45px;
    border: none;
    box-shadow: 0 0 13.7px 1.4px rgba(0, 0, 0, 0.08);
    padding-left: 15px;
    outline: none;
    color: var(--secondary-color);
}

.call-us-textarea {
    min-height: 95px;
    margin: 20px 0 30px;
    resize: none;
    padding-top: 17px;
}

.call-us-input::placeholder,
.call-us-textarea::placeholder {
    font-family: Roboto-light;
    font-size: 0.875rem;
    color: #999999;
}

.contacts-map-headline {
    margin: 0 28px;
    font-family: Bebas-bold;
    font-size: 1.5rem;
}

.contacts-map {
    padding-top: 22px;
}

@media screen and (max-width: 1280px) {
    .contacts-wrap {
        gap: 40px;
    }

    .call-us-pane {
        padding: 40px;
    }

}

/* ================================================================== CONTACTS PAGE END============================================================================================== */



/* Adaptivness =============================================================================================== */
@media screen and (max-width: 1360px) {
    .header-logo {
        padding: 0 40px 0 40px;
    }

    .header-social {
        padding: 0 20px 0 20px;
    }

    .header-teamViewer {
        padding: 0 30px 0 30px;
    }

    .header-language {
        padding: 0 30px 0 30px;
    }

    .header-contact {
        padding: 0 30px;
    }

    .header-burger {
        padding: 0 40px 0 40px;
    }

    /* .arrow-left-reviews {
        left: -50px;
    }

    .arrow-right-reviews {
        right: -50px;
    }

    .arrow-left-team {
        left: -53px;
    }

    .arrow-right-team {
        right: -53px;
    } */
}

@media screen and (max-width: 1280px) {
    .container {
        width: 55rem;
    }

    .logo {
        width: 120px;
    }

    .header-social-icons {
        margin: 0 10px;
    }

    .header-phone {
        padding: 0 20px 0 10px;
    }

    .header-language {
        padding: 0 24px 0 23px;
    }

    .header-teamViewer {
        padding: 0 23px 0 23px;
    }

    /* .team-img {
        max-width: 170px;
    } */

    #popup-btn {
        padding: 16px 45px;
    }

    #header {
        padding-bottom: 70px;
    }

    .advantages-top,
    .advantages-bottom {
        gap: 50px;
    }

    /* .stats-wrap {
        gap: 10px;
    } */

    .stats-number {
        font-size: 66px;
    }

    .stats-description {
        font-size: 19px;
    }

    .review-slide:before {
        width: calc(100% - 44px);
        height: 258px;
    }

    .reviews-img {
        width: calc(100% - 83px);
    }

    .services-wrap {
        grid-template-columns: 1fr;
    }

    .services-wrap-photo {
        grid-row: 2;
    }

    .services-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .services-info:not(:last-child) {
        margin-bottom: 0px;
    }

    .info-1,
    .info-3 {
        margin-right: 15PX;
    }

    .info-2,
    .info-4 {
        margin-left: 15PX;
    }

    .info-3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px !important;
    }

    .services-wrap-photo {
        padding-top: 30px;
    }

    .services-wrap {
        gap: 0;
    }

    .triangle {
        top: auto;
        bottom: -16px;
        left: 0;
        transform: rotate(-90deg);
        right: 0;
        margin: auto;
    }

    .headline-name {
        font-size: 23px;
        margin: 0 20px;
    }

    .tools-slider-wrap {
        padding: 50px 63px;
    }

    .tools-slider-img {
        max-width: 250px;
    }

    .tools-slider-text {
        line-height: 20px;
        font-size: 0.875rem;
    }

    .tools-slider-inner {
        gap: 40px;
    }

    .tools-slider-arrow-left {
        left: 16px;
    }

    .tools-slider-arrow-right {
        right: 16px;
    }

    .tools-nav-container {
        left: 354px;
        bottom: 43px;
    }

    .communicating-right {
        margin: 30px 0 0 auto;
    }

    #rent {
        padding: 70px 0 0;
        background: url(../img/bg/rent-bg-small.png) center/cover;
    }

    .rent-wrap {
        grid-template-columns: 1fr;
        margin-top: 225px;
    }

    .decisions {
        padding: 60px 0 0px;
        background-color: var(--primary-color)
    }

    #cloud {
        padding: 70px 0;
    }

    #consulting {
        padding: 70px 0;
    }

    .consulting-type {
        padding: 50px 65px;
    }

    .consulting-type-inner li {
        font-size: 14px;
    }

    /* .consulting-type-inner li:not(:last-child) {
        margin-bottom: 12px;
    } */

    .consulting-type-inner {
        gap: 70px;
    }

    .consulting-type:before {
        right: 30px;
        top: 30px;
    }

    .consulting-type-headline {
        margin-bottom: 20px;
    }

    #consulting-second {
        margin-top: 30px;
    }

    .steps-section-inner {
        gap: 59px;
    }
}

@media screen and (width: 1024px) {
    .header-teamViewer {
        border-left: none !important;
    }

    #main {
        padding-bottom: 70px;
    }

    .navigation-menu {
        /* margin: 40px 75px 0; */
        gap: 40px;
    }

    .navigation-menu-wrap {
        padding-top: 70px;
    }

    .navigation-menu-item {
        padding-bottom: 0;
    }

    .nav-menu-square {
        bottom: 0;
    }

    .services-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .services-info:not(:last-child) {
        margin-bottom: 0px;
    }

    .info-1,
    .info-3 {
        margin-right: 15PX;
    }

    .info-2,
    .info-4 {
        margin-left: 15PX;
    }

    .info-3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px !important;
    }

    .services-wrap-photo {
        padding-top: 30px;
    }

    .services-wrap {
        gap: 0;
    }

    .triangle {
        top: auto;
        bottom: -16px;
        left: 0;
        transform: rotate(-90deg);
        right: 0;
        margin: auto;
    }
}

@media screen and (max-width: 1023px) {
    .services-blocks {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .services-info:not(:last-child) {
        margin-bottom: 0px;
    }

    .info-1,
    .info-3 {
        margin-right: 0px;
    }

    .info-2,
    .info-4 {
        margin-left: 0px;
    }

    .info-3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px !important;
    }

    #services {
        padding-bottom: 50px;
    }

    .headline-name {
        min-width: 100%;
        margin: 0 auto;
    }

    .services-wrap-photo {
        padding-top: 0px;
        grid-row: 1;
        margin-bottom: 50px;
    }

    .services-wrap {
        gap: 0;
    }

    .triangle {
        top: -16px;
        bottom: auto;
        transform: rotate(90deg);
    }

    .navigation-menu-item {
        padding-bottom: 0;
    }

    .nav-menu-square {
        bottom: 0;
    }

    .stats-item:before {
        width: 0;
    }

    .container {
        width: 40rem;
    }

    /* .stats-wrap {
        gap: 27px
    } */
    .review-slide:before {
        height: 292px;
    }

    .header-social {
        display: none;
    }

    .header-phone {
        display: none;
    }

    .header-phone-icon {
        margin-right: 21px;
    }

    .header-language {
        padding: 0 23px 0 23px;
    }

    .navigation-menu {
        /* margin: 40px 20px 0; */
        gap: 20px;
    }

    .header-teamViewer {
        padding: 0 20px 0 20px;
    }

    .advantages-img-bottom {
        margin-top: 0;
    }

    .advantages {
        gap: 50px;
    }

    .advantages div:nth-child(1) {
        grid-column: 5/9;
    }

    .advantages div:nth-child(2) {
        grid-column: 9/13;
    }

    .advantages div:nth-child(3) {
        grid-column: 1/5;
    }

    .advantages div:nth-child(4) {
        grid-column: 5/9;
    }

    .advantages div:nth-child(5) {
        grid-column: 9/13;
        margin-top: 0;
    }

    .advantages div:nth-child(6) {
        grid-column: 1/5;

    }

    .advantages div:nth-child(7) {
        grid-column: 5/9;
    }

    .navigation-menu-wrap {
        padding: 70px 0;
    }

    .stats-item {
        display: block;
        text-align: center;
    }

    .tools-slider-inner {
        grid-template-columns: 1fr;
    }

    .tools-slider-inner p,
    .tools-slider-inner h3 {
        text-align: center;
    }

    .tools-slider-text {
        margin-bottom: 40px;
    }

    .tools-nav-container {
        left: 0;
        right: 0;
        margin: auto;
    }

    .tools-slider-img {
        margin: 0 auto;
    }

    .reshenia-items-left,
    .reshenia-items-right {
        width: 100%;
    }

    .reshenia-img {
        margin: 0 auto 40px;
        width: 75%;
    }

    .reshenia-headline-desktop {
        display: none;
    }

    .reshenia-headline-tablet {
        display: block;
    }

    .reshenia-items-wrap {
        margin-bottom: 30px;
    }

    .call-us-inputs-wrap {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (width: 768px) {
    .header-teamViewer {
        border-left: none !important;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 30rem;
    }

    .header-teamViewer {
        display: none;
    }

    .navigation-menu {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    #popup-btn {
        display: none;
    }

    .header-phone-icon {
        margin-right: 0;
    }

    #stats {
        padding: 70px 0;
    }

    .stats-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .stats-item {
        padding-bottom: 0;
    }


    .advantages {
        gap: 30px;
    }

    .advantages div:nth-child(1) {
        grid-column: 1/7;
    }

    .advantages div:nth-child(2) {
        grid-column: 7/13;
    }

    .advantages div:nth-child(3) {
        grid-column: 1/7;
    }

    .advantages div:nth-child(4) {
        grid-column: 7/13;
    }

    .advantages div:nth-child(5) {
        grid-column: 1/7;
    }

    .advantages div:nth-child(6) {
        grid-column: 7/13;

    }

    .advantages div:nth-child(7) {
        grid-column: 1/6;
    }

    .review-slide:before {
        width: calc(100% - 24px);
        height: 220px;
    }

    .reviews-img {
        width: calc(100% - 62px);
    }

    .steps-section-inner {
        grid-template-columns: 1fr 1fr;
    }

    .tools-slider-wrap {
        padding: 50px 50px;
    }

    .rent-list-wrap {
        flex-direction: column;
    }

    .rent-item-top p {
        margin-right: 50px;
    }

    .consulting-type {
        padding: 30px;
    }

    .consulting-type-inner {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .rent-list-wrap {
        margin-top: 45px;
    }

    .drive {
        margin-bottom: 13px;
    }

    .contacts-wrap {
        grid-template-columns: 1fr;
    }

    #contacts-info-page {
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 639px) {
    .container {
        width: 23rem;
    }

    .team-slider p {
        font-size: 15px;
    }

    .review-slide:before {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        height: 290px;
    }

    .reviews-img {
        width: calc(100% - 113px);
        left: 0;
        right: 0;
        margin: auto;
    }

}

@media screen and (max-width: 499px) {
    .container {
        width: calc(100% - 32px);
    }

    .section-headline {
        font-size: 30px;
    }

    #advantages {
        padding: 40px 0 45px;
    }

    #clients {
        padding: 0 0 50px;
    }

    #team,
    #stats,
    #reviews {
        padding: 50px 0;
    }

    #main {
        padding-top: 170px;
    }

    .divider-line {
        background: none;
    }

    .navigation-menu-wrap {
        background: var(--secondary-color);
        padding-top: 55px;
    }

    .navigation-menu {
        gap: 5px;
    }

    .navigation-menu-item {
        padding: 0 15px 55px;
    }

    .navigation-menu-item img {
        width: 100%;
        max-width: 100px;
    }

    .logo {
        width: 100px;
    }

    .slider-wrap {
        max-width: 75%;
        margin: 0 auto;
    }

    #team-slider-wrap {
        max-width: 100%;
    }

    .team-slider-controls {
        display: none;
    }

    .header-burger,
    .header-contact,
    .header-language,
    .header-logo {
        padding: 0 15px;
    }

    .main-headline {
        font-size: 50px;
    }

    .main-description {
        font-size: 20px;
        margin: 38px 0 35px;
    }

    .advantages div:nth-child(1) {
        grid-column: 2/12;
    }

    .advantages div:nth-child(2) {
        grid-column: 2/12;
    }

    .advantages div:nth-child(3) {
        grid-column: 2/12;
    }

    .advantages div:nth-child(4) {
        grid-column: 2/12;
    }

    .advantages div:nth-child(5) {
        grid-column: 2/12;
    }

    .advantages div:nth-child(6) {
        grid-column: 2/12;

    }

    .advantages div:nth-child(7) {
        grid-column: 2/12;
    }



    .contacts-info-wrap {
        margin-top: 280px;
    }

    .contacts-info {
        top: -265px;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
    }

    .review-slide:before {
        width: calc(100% - 4px);
    }

    .triangle {
        display: none;
    }

    .services-info {
        min-height: auto;
        padding: 20px 9px;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .services-info-arrow {
        display: block;
        transform: rotate(180deg);
    }

    .info-3 {
        flex-direction: row;
        margin-bottom: 0 !important;
    }

    .service-block-list {
        display: none;
    }

    #services {
        padding-bottom: 0;
    }

    .tools-slider-wrap {
        margin: 30px 0 37px;
        padding: 30px 15px;
    }

    .tools-img-wrap {
        grid-row: 2;
    }

    .tools-slider-inner p,
    .tools-slider-inner h3 {
        text-align: left;
    }

    .tools-slider-controls {
        display: none;
    }

    .tools-nav-container {
        bottom: 265px;
    }

    .tools-slider-inner {
        gap: 30px;
    }

    #square-right {
        right: -7px;
        top: -7px;
    }

    #square-left {
        left: -7px;
        bottom: -7px;
    }

    .communicating-wrap {
        width: calc(100% - 14px);
        margin: 0 auto;
    }

    .communicating {
        padding: 30px 12px;
    }

    .consulting-type:before {
        right: 15px;
        top: 15px;
    }

    .rent-wrap {
        width: 100vw;
        margin-left: calc(-1 * ((100vw - 100%) / 2));
    }

    .rent-item-top {
        background: url(../img/rent/square-top-mobile.png) center/100% 100%;
        padding: 0 17px;
        min-height: 180px;
    }

    .servers-small {
        margin-left: 17px;
    }

    .rent-item-top p {
        margin-right: 0;
        margin-left: 0;
        max-width: auto;
    }

    .rent-item-bottom {
        background: url(../img/rent/square-bottom-mobile.png) center/100% 100%;
    }

    .rent-item-bottom {
        gap: 15px;
    }

    .steps-section-inner {
        gap: 10px;
    }

    .steps-section-inner img {
        width: 100%;
    }

    .steps-item-1 {
        grid-column: 1;
    }

    .steps-item-2 {
        grid-column: 2/3;
        grid-row: 2;
    }

    .steps-item-3 {
        grid-row: 3;
    }

    .steps-item-4 {
        grid-column: 2/3;
        grid-row: 4;
    }
}

@media screen and (max-width: 375px) {

    .slider-wrap {
        max-width: 65%;
        margin: 0 auto;
    }

    .advantages {
        gap: 20px;
    }

    .stats-number {
        font-size: 60px;
    }

    .stats-description {
        font-size: 16px;
    }

    .team-slider p {
        font-size: 12px;
    }

    .consulting-type {
        padding: 25px 18px;
    }

    .servers {
        display: none;
    }

    .servers-small {
        display: block;
        margin-left: 20px;
    }

    .reshenia-img {
        width: 100%;
    }

    #contacts-info-page::after {
        left: -16px;
        top: -16px;
    }

    #contacts-info-page {
        padding: 40px 20px;
    }

    .call-us-pane {
        padding: 30px 20px;
    }

    .call-us-pane a {
        width: 100%;
    }

}

@media screen and (max-width: 320px) {
    .header-language {
        border-left: none !important;
    }


}
